<header>
  <a href="#"><h1 class="site-title">Naval Photos</h1></a>
</header>

<nav class="navbar">
  <ul class="navlist">
    <li class="navitem"><a href="/">Home</a></li>
    <li class="navitem"><a href="/ships">Ships</a></li>
    <li class="navitem"><a href="/planes">Planes</a></li>
    <li class="navitem"><a href="/subs">Subs</a></li>
  </ul>
</nav>
