<section class="card">
    <div class="container">
    <img class="photo-img" src="{{photoURL}}" />
    </div>
    <div class="description">
	{{description}} 
    </div>
    <div class="tags">
        Tags:
    {{#each tags}}
	  {{this}},
	{{/each}}
    </div>
</section>
