<main class="selection">
    <div id="ships" class="option">
        <a href="#"><img href ="/photos/surface.png" />Surface Warfare</a>
    </div>
    <div id="subs" class="option">
        <a href="#"><img href="/photos/subs.png" />Submarines</a>
    </div>
    <div id="aviation" class="option">
        <a href="#"><img href="/photos/aviation.png" />Aviation</a>
    </div>
</main>