<main class="selection">
<a id="surface" class="option" href="#"><img src="/photos/surface.jpg" alt="Surface Warfare"></a>
<a id="subs" class="option" href="#"><img src="/photos/subs.jpg" alt="Submarines"></a>
<a id="aviation" class="option" href="#"><img src="https://farm4.staticflickr.com/3942/15719428042_c69dcd9826_k.jpg" alt="Aviation"></a>
</main>
