<main class="selection">
<<<<<<< HEAD
<a id="surface" class="option" href="#"><img src="https://farm2.staticflickr.com/1733/42713149592_4b55330b5d_o.jpg" alt="Surface Warfare"></a>
<a id="subs" class="option" href="#"><img src="https://farm2.staticflickr.com/1729/40951770340_c669ffcfdf_o.jpg" alt="Submarines"></a>
<a id="aviation" class="option" href="#"><img src="https://farm4.staticflickr.com/3942/15719428042_c69dcd9826_k.jpg" alt="Aviation"></a>
=======
    
>>>>>>> 1906719ae5eefd53fe62efa3832277e0333d4e50
</main>
