<main class="selection">

    <a class="option" href="/ships"><img src="https://farm2.staticflickr.com/1733/42713149592_4b55330b5d_o.jpg" alt="Surface Warfare"></a>
    <a class="option" href="/planes"><img src="https://farm4.staticflickr.com/3942/15719428042_c69dcd9826_k.jpg" alt="Aviation"></a>
    <a class="option" href="/subs"><img src="https://farm2.staticflickr.com/1729/40951770340_c669ffcfdf_o.jpg" alt="Submarines"></a>

</main>
