<main class="single-page">
  <div class="title-container">
    <h2>Photos of {{designator}}</h2>
  </div>
  <div class="card-container">
    {{#each items}}
      {{> photoCard}}
    {{/each}}
  </div>
</main>

{{> modal}}
