<main class="single-page">

  <div class="title-container">
    <h2>Photos of {{item}}</h2>
  </div>

  <div class="photo-card-container">

    {{#each photos}}
      {{> photoCard}}
    {{/each}}

  </div>

</main>
