body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: #f7f7f7;
}


.selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.option {
    flex: 0 0 33.3%;
    display: flex;
    height: auto;

}

img{
    width: 100px;
}


.error-container {
  margin-top: 50px;
  text-align: center;
}

.error-container h2 {
  margin: 10px 0;
  font-size: 96px;
  font-weight: 100;
}

.error-container h3 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 400;
}
